<div class="page">
    <header class="header">
        <div class="container">
            <div class="logo">
                <img class="logo__img" src="../../../assets/img/logo.jpg" alt="Marvel Studios">
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="container-inner">
                <span>What's wrong with u rebyatishki?</span>
                <span>Contact us <a href="tel:+79374252899">+7 (937) 425-28-99</a></span>
            </div>
        </div>
    </footer>
</div>